@import './mixins.scss';
@import './color-variables.scss';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spriteimage {
  @include spriteimage;
}
.redlabel {
  color: $redlabel !important;
}

.carousel-control-prev {
  left: -60px !important;
}
.carousel-control-next {
  right: -60px !important;
}
.carousel-control-prev-icon {
  @include spriteimage;
  background-position: -38px -390px;
}
.carousel-control-next-icon {
  @include spriteimage;
  background-position: -38px -356px;
}