<div class="tpm-view-prospects">
  <div class="tpm-view-prospects__title">Prospects</div>
  <div class="tpm-view-prospects__content">
    <!--Prospects table header-->
    <div class="tpm-view-prospects__content-header">
      <div class="tpm-view-prospects__content-header-item1">Candidate Details</div>
      <div class="tpm-view-prospects__content-header-item2">Interview Schedule</div>
      <div class="tpm-view-prospects__content-header-item3">Reference Check</div>
      <div class="tpm-view-prospects__content-header-item4">Comments</div>
    </div>

    <!--Prospects slider content-->
    <div class="tpm-view-prospects__slider">
      <div class="tpm-view-prospects__slider-content">
        <div class="tpm-view-prospects__slider-items-list">
          <carousel [itemsPerSlide]="itemsPerSlide"
                  [singleSlideOffset]="singleSlideOffset"
                  [noWrap]="!noWrap"
                  [interval]="0"
                  [startFromIndex]="0"
                  [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
              
            </slide>
          </carousel>
        </div>
      </div>
      <div class="tpm-view-prospects__content-header-item5">Leads</div>
      <div class="tpm-view-prospects__content-header-item5">Captured</div>
    </div>

    <!--repeat row div for dynamic data-->
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="tpm-view-prospects__row" *ngFor="let item of offerResponse" cdkDrag>
        <div class="tpm-view-prospects__cand-icon">
          <img src= {{item.image}} />
        </div>
        <div class="tpm-view-prospects__cand-details">
          <div class="tpm-view-prospects__cand-name">{{item.candidateName}}</div>
          <div class="tpm-view-prospects__cand-role">
            Director, Housing and Development Department
          </div>
          <div class="tpm-view-prospects__cand-location">New Delhi</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects">
          <div class="tpm-view-prospects__cand-status-icon spriteimage hire"></div>
          <div class="tpm-view-prospects__cand-role small">Hire</div>
          <div class="tpm-view-prospects__cand-value small">21 Jul 2018</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects vcenter">
          <div class="tpm-view-prospects__cand-value small">Awaiting Feedback</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects">
          <div class="tpm-view-prospects__cand-status-icon spriteimage notconfirm"></div>
          <div class="tpm-view-prospects__cand-role small">No Hire</div>
          <div class="tpm-view-prospects__cand-value small">01 Jul 2020</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects vcenter last">
          <div class="tpm-view-prospects__cand-status-icon spriteimage calendar"></div>
          <div class="tpm-view-prospects__cand-value small">01 Jul 2020</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects vcenter ref-check">
          <div class="tpm-view-prospects__cand-reference">7</div>
        </div>
        <div class="tpm-view-prospects__cand-prospects vcenter ref-check last">
          <div class="tpm-view-prospects__cand-reference">3</div>
        </div>
        <div class="tpm-view-prospects__cand-comments">
          Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra. Lacinia ultrices QuisqueQuisque.
        </div>
        <div class="tpm-view-prospects__option">
          <span class="tpm-view-prospects__option-icon"></span>
        </div>
      </div>
    </div>

  </div>
</div>
